<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.cinema.dao.main.MainVO" alias="main"/>
		<typeAlias type="com.cinema.dao.member.MemberVO" alias="member"/>       
        <typeAlias type="com.cinema.dao.reserve.ReserveVO" alias="reserve"/>
        <typeAlias type="com.cinema.dao.movie.MovieVO" alias="movie"/>
        <typeAlias type="com.cinema.dao.theater.TheaterVO" alias="theater"/>
        <typeAlias type="com.cinema.dao.customer.CustomerVO" alias="customer"/>
        <typeAlias type="com.cinema.dao.member.MemberReserveListVO" alias="memberReserve"/> 
        <typeAlias type="com.cinema.dao.admin.ReserveListVO" alias="reservelist"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/cinema/dao/main/main-mapper.xml"/>
		<mapper resource="com/cinema/dao/member/member-mapper.xml"/>
        <mapper resource="com/cinema/dao/reserve/reserve-mapper.xml"/>
        <mapper resource="com/cinema/dao/movie/movie-mapper.xml"/>
        <mapper resource="com/cinema/dao/customer/customer-mapper.xml"/>
        <mapper resource="com/cinema/dao/theater/theater-mapper.xml"/>
        <mapper resource="com/cinema/dao/admin/admin-mapper.xml"/>
	</mappers>
</configuration>